body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.jumbotron {
    width: 1000px;
    height: 1200px;
    margin-left: 200px;
    margin-top: 50px;
}

#button {
    width: 400px;
    height: 100px;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    visibility: visible;
}

.display-4 {
    text-align: center;
    color: blue;
}

.lead {
    text-align: center;
}

#start_game{
    visibility: hidden;
}

.time {
    text-align: center;
    margin-bottom: 80px;
    margin-top: -80px;
}

.question {
    text-align: center;
}