body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.jumbotron {
    width: 1000px;
    height: 1400px;
    margin-left: 200px;
    margin-top: 50px;
}

#button {
    width: 400px;
    height: 100px;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    visibility: visible;
}

#game-finished {
    text-align: center;
    visibility: hidden;
    margin-top: -1000px;
    border-style: solid;
    border-color: red;

}

.display-4 {
    text-align: center;
    color: blue;
}

.lead {
    text-align: center;
}

#start_game{
    visibility: hidden;
}

.time {
    text-align: center;
    margin-bottom: 80px;
    margin-top: -100px;
}

.content {
    text-align: center;
    margin-top: -10px;
}

#button2 {
    width: 200px;
    height: 80px;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    visibility: hidden;
}